$def with (moves, months, month = None)
	<html>
	<head>
		<link rel='stylesheet' type='text/css' href='$app_path('/static/css/table.css')'>
	</head>
	<body>
  <h1>Монтаж оборудования на сеть
    $if month <> None:
  	за $month
  </h1>
$if is_rights('admin', 'full', 'keeper'):
	<a href='mount/new'>Оформить монтаж</a>
<br><br>

<table border=1 class='status'>
	<tr>
	<td align=center>Документ</td>
	<td align=center>Создал</td>
	<td align=center>Провел</td>
	<td align=center>Скан</td>
	<td align=center>Действие</td>
  </tr>
$for document in moves:
	$if not document.saved:
		$ class_status = 'statusEdit'
		$if not is_rights('admin', 'full', 'keeper'):
			$continue
	$else:
		$ class_status = 'statusView'
	<tr>
		<td class='$class_status'>$doc_to_string(document)</td>
		<td class='$class_status'>$user_name(document.creator)</td>
		<td class='$class_status'>
			$if document.saved:
				$user_name(document.signed_by)
		</td>
		<td class='$class_status' align = center>
			$if len(document.scan) > 0:
				<a href='$app_path("/scans/")$document.scan' target = "_blank">
				<img border=0 alt="Списание" height="24" width="24" src=$app_path('/static/img/pdf.png')>
				</a>
			$else:
				<a href="$app_path('/documents/uploadscan/')$document.document_id/mount">
					Загрузить
      	</a>
  	</td>
  	<td class='$class_status'>
			<a href='$app_path("/documents/view/")$document.document_id'>
			$if not document.saved:
				Редактирование
			$else:
				Просмотр
			</a>
		</td>
  </tr>
</table>
<br>
Другие месяцы:<br>
  $for m in months:
  	<a href = '$app_path('/mount/' + m)'>$m</a> 
</body>
</html>
