$def with (result)
  <html>
  <head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  </head>
  <body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <h3>Отчет по старению запасов на сотрудниках</h3>
  <ul class="collapsible" data-collapsible="accordion">
  $ previous = ''
  $for r in result:
  	$if previous <> r.name + ' ' + r.first_name:
  		$if previous <> '' :
  			</table></div></li>
  		$ previous = r.name + ' ' + r.first_name
  		<li><div class="collapsible-header">$previous</div>
  		<div class="collapsible-body">
  		<table class='striped'>
  	<tr>
  		<td>$r.pos_name</td>
  		<td>$r.serial</td>
  		<td>$r.offset дней</td>
  	</tr>
  </table></ul>
  <script>
  	$$(document).ready(function(){
  			$$('.collapsible').collapsible();
  	});
  </script>
  </body>
  </html>