$def with ()
  <a href='remains'>Остатки</a></br>
  <a href='remainsbyperson'>Остатки на МОЛе или складе</a></br>
  <a href='remainspositionsbyperson'>Остатки на МОЛе или складе по позициям</a></br>
  <a href='period'>Движения за период</a></br>
  <a href='perioddetailed'>Движения за период детальные</a></br>
  <a href='posremains'>Остатки позиции</a></br>
  <a href='remainsbyaddress'>ТМЦ смонтированные по адресу</a></br>
  <a href='itemmovements'>Движения по серийному номеру</a></br>
  <a href='findmounted'>Оборудование на сети без акта монтажа</a></br>
  <a href='findunmounted'>Демонтированное оборудование без акта демонтажа</a></br>
  <a href='releasebyperiod'>Выгрузка выдачи за период</a></br>
  <a href='oldserials'>Амортизация оборудования на руках</a></br>