$def with ()
  <a href='remains'>1 - Остатки</a></br>
  <a href='remainsbyperson'>2 - Остатки на МОЛе или складе</a></br>
  <a href='remainspositionsbyperson'>3 - Остатки на МОЛе или складе по позициям</a></br>
  <a href='period'>4 - Движения за период</a></br>
  <a href='perioddetailed'>5 - Движения за период детальные</a></br>
  <a href='posremains'>6 - Остатки позиции</a></br>
  <a href='remainsbyaddress'>7 - ТМЦ смонтированные по адресу</a></br>
  <a href='itemmovements'>8 - Движения по серийному номеру</a></br>
  <a href='findmounted'>9 - Оборудование на сети без акта монтажа</a></br>
  <a href='findunmounted'>10 - Демонтированное оборудование без акта демонтажа</a></br>
  <a href='releasebyperiod'>11 - Выгрузка выдачи за период</a></br>
  <a href='oldserials'>12 - Отчет по старению запасов на сотрудниках. Общий</a></br>
  <a href='oldserials/100'>12.1 - Отчет по старению запасов на сотрудниках. Свыше 100 дней</a></br>
